header {
    width: 100vw;
    background-color: rgb(182, 96, 219);
    padding: 0 15px;
}

.navLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLink__li {
    list-style: none;
    padding: 15px 0;
}

.navLink__href {
    text-decoration: none;
    color: white;
}